.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  padding: 12px 16px;
  cursor: pointer;

  &.active {
    border-color: tomato;
  }

  &-logo {
    background-color: white;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 12px;
  }

  &-title {
    font-size: 14px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
  }
}
