.check {
  display: flex;
  align-items: center;

  &-label {
    margin-left: 8px;
    font-size: 16px;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: #ba8c03;
    }

    &.active {
      color: darken($color: #ffc107, $amount: 30);
      background-color: transparent;
    }
  }
}

.active {
  background-color: darken($color: #ffc107, $amount: 30);
}
