<div class="container">
	<h3>Feedback Signal Form</h3>
	<form (submit)="onSubmit($event)">
		<label for="feedback-label">Enter your feedback:</label>
		<textarea id="feedback-label" placeholder="Leave feedback here..." [field]="form.text"></textarea>
		<cfc-reaction-picker [field]="form.reaction" />
		<hr class="divider" />
		<cfc-basic-toggle [field]="form.checked" />
		<cfc-basic-input [field]="form.message" />
		<button type="submit" [disabled]="form().invalid()">save</button>
	</form>

	<div class="form-value">Form Value:</div>
	<pre>{{ form().value() | json }}</pre>
</div>