<form novalidate (submit.preventDefault)="onSumbit()">
	<fieldset class="form-fieldset mb-6">
		<legend>customer infomation</legend>
		<div class="form-row">
			<div class="form-group">
				<!-- form.firstName().name() - динамически задаем для атрибута for значение - в данном случае это имя поля firstName -->
				<label [for]="form.firstName().name()">first name</label>
				<!-- form.firstName().name() - динамически задаем для атрибута id значение - в данном случае это имя поля firstName -->
				<input type="text" [id]="form.firstName().name()" [field]="form.firstName" />

				@if(form.firstName().touched() || form.firstName().invalid()) {
				@for(error of form.firstName().errors(); track error.kind) {
				<span>{{ error.message }}</span>
				}
				}
			</div>

			<div class="form-group">
				<!-- form.lastName().name() - динамически задаем для атрибута for значение - в данном случае это имя поля lastName -->
				<label [for]="form.lastName().name()">last name</label>
				<!-- form.lastName().name() - динамически задаем для атрибута id значение - в данном случае это имя поля lastName -->
				<input type="text" [id]="form.lastName().name()" />
				@if(form.lastName().invalid() || form.lastName().touched()) {
				@for(error of form.lastName().errors(); track error.kind) {
				<span>{{ error.message }}</span>
				}
				}
			</div>
		</div>
	</fieldset>

	<!-- billing address -->
	<div class="checkbox-group">
		<input [id]="form.hasBillingAddress().name()" type="checkbox" [field]="form.hasBillingAddress" />
		<label [for]="form.hasBillingAddress().name()" class="checkbox-label">Add Billing Address</label>
	</div>

	@if(!form.billingAddress().hidden()) {
	<fieldset class="form-fieldset address-fieldset mb-6">
		<legend>Billing Address</legend>
		<cfc-customer-address [address]="form.billingAddress" />
	</fieldset>
	}

	<!-- shipping address -->
	<div class="checkbox-group">
		<input [id]="form.hasShippingAddress().name()" type="checkbox" [field]="form.hasShippingAddress" />
		<label [for]="form.hasShippingAddress().name()" class="checkbox-label">Add Shipping Address</label>
	</div>

	@if(!form.shippingAddress().hidden()) {
	<fieldset class="form-fieldset address-fieldset mb-6">
		<legend>Shipping Address</legend>
		<cfc-customer-address [address]="form.shippingAddress">
			<div class="form-group">
				<label [for]="form.shippingAddress.note().name()">Note</label>
				<textarea [id]="form.shippingAddress.note().name()" [field]="form.shippingAddress.note"></textarea>
			</div>
		</cfc-customer-address>
	</fieldset>
	}

	<div class="form-actions">
		<button type="submit" class="button" [disabled]="form().submitting()">
			@if(form().submitting()) {
			<span>Creating Customer...</span>
			} @else {
			<span>Create Customer</span>
			}
		</button>
	</div>
</form>