<form novalidate (submit.preventDefault)="onSumbit()">
	<fieldset class="form-fieldset mb-6">
		<legend>customer infomation</legend>
		<div class="form-row">
			<div class="form-group">
				@let firstName = form.firstName();
				<!-- firstName.name() - динамически задаем для атрибута for значение - в данном случае это имя поля firstName -->
				<label [for]="firstName.name()">first name</label>
				<input type="text" [id]="firstName.name()" [field]="form.firstName" />

				@if(firstName.touched() || firstName.invalid()) {
				@for(err of firstName.errors(); track err.kind) {
				<span>{{ err.message }}</span>
				}
				}
			</div>

			<div class="form-group">
				@let lastName = form.lastName();
				<!-- lastName.name() - динамически задаем для атрибута for значение - в данном случае это имя поля lastName -->
				<label [for]="lastName.name()">last name</label>
				<input type="text" [id]="lastName.name()" [field]="form.lastName" />
				@if(lastName.invalid() || lastName.touched()) {
				@for(err of lastName.errors(); track err.kind) {
				<span>{{ err.message }}</span>
				}
				}
			</div>
		</div>
	</fieldset>

	<!-- billing address -->
	<div class="checkbox-group">
		@let hasBillingAddress = form.hasBillingAddress();
		<input [id]="hasBillingAddress.name()" type="checkbox" [field]="form.hasBillingAddress" />
		<label [for]="hasBillingAddress.name()" class="checkbox-label">Add Billing Address</label>
	</div>

	@if(!form.billingAddress().hidden()) {
	<fieldset class="form-fieldset address-fieldset mb-6">
		<legend>Billing Address</legend>
		<cfc-customer-address [address]="form.billingAddress" />
	</fieldset>
	}

	<!-- shipping address -->
	<div class="checkbox-group">
		@let hasShippingAddress = form.hasShippingAddress();
		<input [id]="hasShippingAddress.name()" type="checkbox" [field]="form.hasShippingAddress" />
		<label [for]="hasShippingAddress.name()" class="checkbox-label">Add Shipping Address</label>
	</div>

	@if(!form.shippingAddress().hidden()) {
	<fieldset class="form-fieldset address-fieldset mb-6">
		<legend>Shipping Address</legend>
		<cfc-customer-address [address]="form.shippingAddress">
			@let note = form.shippingAddress.note();
			<div class="form-group">
				<label [for]="note.name()">Note</label>
				<textarea [id]="note.name()" [field]="form.shippingAddress.note"></textarea>
			</div>
		</cfc-customer-address>
	</fieldset>
	}

	<div class="form-actions">
		<button type="submit" class="button" [disabled]="form().submitting()">
			@if(form().submitting()) {
			<span>Creating Customer...</span>
			} @else {
			<span>Create Customer</span>
			}
		</button>
	</div>
</form>